@import 'Nug-Bottom-Position-Expanded.css';
@import 'Nug-Bottom-Transition-Expanded.css';

@media not (-moz-pref('nug-features-disabled')) {
	@media not (-moz-pref('nug-features-bottom-disabled')) {
		:root[zen-sidebar-expanded='true'] {
			#zen-sidebar-foot-buttons {
				display: grid !important;
				position: relative !important;

				/* Allows automatic row creation */
				grid-auto-rows: auto !important;
				/* Ensures columns resize */
				grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)) !important;
				gap: 6px !important;
				padding-top: 0px !important;
				height: 100px !important;

				@media (-moz-bool-pref: 'nug-features-workspace-button-hidden') {
					height: 95px !important;
				}

				@media not (-moz-bool-pref: 'nug-features-workspace-button-hidden') {
					@media (-moz-bool-pref: 'nug-features-bottom-keep-expanded') {
						height: 110px !important;
					}
				}

				transition: margin-top 0.3s ease 100ms, width 0.3s 100ms ease, height 0.3s 100ms ease, top 0.5s ease 100ms,
					bottom 0.5s ease 100ms, opacity 1s ease 100ms !important;
			}

			@media not (-moz-bool-pref: 'nug-features-workspace-button-hidden') {
				@media not (-moz-bool-pref: 'nug-features-bottom-keep-expanded') {
					&:not([customizing=''])
						#zen-sidebar-foot-buttons:not(:has(#zen-workspaces-button > .subviewbutton:only-child)) {
						height: 50px !important;

						&::after {
							position: sticky;
							top: 42px;
							z-index: 9999;
							flex-shrink: 0 !important;
							grid-column: 1 / -1 !important;
							grid-row: 2 !important;

							content: '';
							visibility: visible;
							opacity: 1;
							justify-self: center;
							background: var(--nug-Glow-Color-3);
							width: 50%;
							height: 3px;
							border-radius: 3px;

							box-shadow: 0px 0px 2px var(--nug-Glow-Color-3) !important;
							filter: drop-shadow(0px 0px 3px var(--zen-primary-color)) brightness(1) !important;

							transition: width 0.3s 200ms ease, height 0.3s 200ms ease, top 0.2s ease 100ms, bottom 0.2s ease 100ms,
								opacity 1s ease 100ms !important;
						}

						& > .toolbarbutton-1:not(#zen-workspaces-button),
						& > .toolbaritem-combined-buttons {
							justify-self: center !important;
							opacity: 0 !important;
							pointer-events: none !important;

							transition: opacity 0.5s ease 100ms, color 0.3s ease, fill 0.3s ease !important;
						}
					}
				}
			}
		}
	}
}
