@import 'Nug-Media-Background.css';
@import 'Nug-Media-Collapsed.css';
@import 'Nug-Media-Expanded.css';

@media not (-moz-pref('nug-features-disabled')) {
	@media not (-moz-pref('nug-features-media-disabled')) {
		#zen-media-controls-toolbar {
			align-self: center !important;
			background: none !important;
			position: relative !important;
			margin: 0px 0px !important;
		}

		#zen-media-controls-toolbar > toolbaritem {
			background: var(--nug-Blur-Color) !important;
			backdrop-filter: var(--nug-Blur-Simple) !important;
			border-radius: var(--nug-Border-Radius) !important;
		}
	}
}
