/* floating status bar */
#statuspanel {
	margin: 10px !important;
}

#statuspanel-label {
	border-radius: 11px !important;
	padding: 3px 10px !important;
	border: 1px solid var(--zen-colors-border) !important;
	background: var(--zen-colors-tertiary) !important;
}

/* download button progress background */
#downloads-indicator-progress-outer::after {
	content: '';
	display: block;
	position: absolute;
	inset: 0;
	z-index: -40;
	background: var(--toolbar-field-background-color);
}

/* toast popup text */
#zen-toast-container,
.zen-toast,
#zen-toast-container .zen-toast {
	color: var(--zen-toast-text-color, #222) !important;
}

/* reopen closed tabs menu style overrides */
#reopen-closed-tabs-panel,
.reopen-closed-tabs-group-header,
.reopen-closed-tab-item,
.reopen-closed-tab-item .tab-item-labels,
.reopen-closed-tab-item .tab-item-label,
.reopen-closed-tab-item .tab-item-context,
.reopen-closed-tab-item .tab-status-icon,
.reopen-closed-tab-item .close-button {
	font-family: var(--nug-font), sans-serif !important;
}
#reopen-closed-tabs-panel {
	--panel-padding: 0 3px 0 3px !important;
	width: fit-content !important;
	position: relative !important;
	padding: 0 !important;
}

#reopen-closed-tabs-search-container {
	display: flex;
	align-items: center !important;
	justify-content: center !important;
	position: relative;
	padding: 8px 0;
}

#reopen-closed-tabs-search-container .search-icon {
	position: absolute;
	left: 12px;
	top: 17px;
	width: 16px;
	height: 16px;
	fill: light-dark(black, white) !important;
	-moz-context-properties: fill !important;
	opacity: 0.6;
}

#reopen-closed-tabs-search-input {
	width: 97% !important;
	box-sizing: border-box !important;
	padding: 8px 12px 8px 30px !important;
	border-radius: 6px !important;
}

#reopen-closed-tabs-list-container {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 500px;
	width: fit-content !important;
}

.reopen-closed-tabs-group-header {
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: var(--zen-primary-color);
	color: var(--zen-toast-text-color, #222) !important;
	border-radius: 12px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding: 2px;
}

.reopen-closed-tabs-group-header label {
	font-size: 14px;
	padding-bottom: 4px;
	font-weight: 600;
}

.reopen-closed-tab-item {
	width: 325px;
	padding: 5px;
	margin-right: 11px;
	cursor: default;
	border-radius: 4px;
	margin-bottom: 2px;
}

.reopen-closed-tab-item:hover,
.reopen-closed-tab-item[selected='true'] {
	background-color: light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
}

.reopen-closed-tab-item:hover .close-button,
.reopen-closed-tab-item[selected='true'] .close-button {
	display: flex;
}

.reopen-closed-tab-item .tab-favicon {
	width: 24px;
	height: 24px;
	margin-inline-end: 8px;
}

.reopen-closed-tab-item .tab-item-labels {
	display: flex;
	flex-direction: column;
	min-width: 0;
	gap: 0 !important;
}

.reopen-closed-tab-item .tab-item-label {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 13px;
	margin-block: 0;
	margin-inline: 0;
}

.reopen-closed-tab-item .tab-item-context {
	font-size: 0.9em;
	opacity: 0.7;
}

.reopen-closed-tab-item .tab-item-context:before {
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis !important;
}

.reopen-closed-tab-item .tab-status-icon {
	width: 16px;
	height: 16px;
	margin-inline-start: 4px;
	fill: light-dark(black, white) !important;
	-moz-context-properties: fill !important;
	flex-shrink: 0;
}

.reopen-closed-tab-item .close-button {
	padding: 4px;
	width: 22px;
	height: 22px;
	border-radius: var(--toolbarbutton-border-radius);
	margin-inline-start: 4px;
	fill: light-dark(black, white) !important;
	-moz-context-properties: fill !important;
	cursor: pointer;
	display: none;
}

.reopen-closed-tab-item .close-button:hover {
	background-color: var(--toolbarbutton-hover-background);
}

.reopen-closed-tab-item-disabled {
	padding: 4px;
	color: var(--panel-disabled-text-color);
}

/* loading bar animation */
@-moz-document url-prefix("chrome:") {
	.browserSidebarContainer.deck-selected::before {
		content: '' !important;
		position: absolute !important;
		top: 0px !important;
		left: 0px !important;
		height: 4px !important;
		max-width: 100% !important;
		width: var(--bar-pcent) !important;
		background-color: var(--bar-colour) !important;
		filter: drop-shadow(0px 0px 10px black) !important;
		border-radius: 0 2px 2px 0 !important;
		@media (-moz-bool-pref: 'uc.loadbar.no-rounded-corner') {
			border-radius: 0 !important;
		}
		z-index: 1 !important;
		transition: width 0.5s ease-in-out, top 0.1s ease-in-out, background 0.2s ease !important;
	}

	/* When the toolbar is permanently showing, we move the loading bar under it */
	@media not (-moz-bool-pref: 'zen.view.compact.hide-toolbar') and not (-moz-bool-pref: 'zen.view.use-single-toolbar') {
		.browserSidebarContainer.deck-selected::before {
			top: 40px !important;
		}
	}

	.browserSidebarContainer.deck-selected:has([zen-glance-selected])::before,
	.browserSidebarContainer.deck-selected.zen-glance-overlay::before {
		max-width: calc(85%) !important;
		left: calc(15% / 2) !important;
		border-radius: 6px !important;
	}

	.browserSidebarContainer.deck-selected.zen-glance-background::before {
		background: transparent !important;
		height: 0px !important;
	}

	:root {
		&:has(.tabbrowser-tab[selected][busy]) {
			--bar-colour: var(--zen-primary-color);
			--bar-pcent: 15%;
		}
		&:has(.tabbrowser-tab[selected][busy][pendingicon]) {
			--bar-colour: var(--zen-primary-color);
			--bar-pcent: 45%;
		}
		&:has(.tabbrowser-tab[selected][busy][pendingicon][progress]) {
			--bar-colour: var(--zen-primary-color);
			--bar-pcent: 85%;
		}
		&:has(.tabbrowser-tab[selected][busy][progress]) {
			--bar-colour: var(--zen-primary-color);
			--bar-pcent: 95%;
		}
		&:has(.tabbrowser-tab[selected][muted]:not([busy])) {
			--bar-colour: var(--nug-accent-off);
			--bar-pcent: 100%;

			.browserSidebarContainer.deck-selected::before {
				border-radius: 0;
			}
		}
	}

	@media (-moz-bool-pref: 'zen.view.compact.hide-toolbar') {
		:root:not([zen-single-toolbar='true']):has([zen-compact-mode='true']) {
			&:has(#zen-appcontent-navbar-wrapper[zen-has-hover]),
			&:has(#zen-appcontent-navbar-wrapper[zen-user-show]),
			&:has(#zen-appcontent-navbar-wrapper[has-popup-menu]),
			&:has(
					*:is(
							#zen-appcontent-navbar-wrapper[panelopen='true'],
							#zen-appcontent-navbar-wrapper[open='true'],
							#urlbar:focus-within:not(#urlbar[zen-floating-urlbar='true']),
							#zen-appcontent-navbar-wrapper[breakout-extend='true']
						)
						:not(.zen-compact-mode-ignore)
				) {
				.browserSidebarContainer.deck-selected::before {
					top: 39px !important;
				}
			}
		}
	}
}
