zen-workspace-icons#zen-workspaces-button {
	background: none !important;
}

:root[zen-sidebar-expanded='true'] zen-workspace {
	& .zen-current-workspace-indicator {
		opacity: 1 !important;
		padding: 4px !important;
		justify-content: center !important;
		margin-bottom: 10px !important;

		& .zen-current-workspace-indicator-icon {
			position: absolute !important;
			left: 35% !important;
			transform: translateX(-100%) !important;
		}
		& .zen-current-workspace-indicator-icon {
			display: none !important;
		}

		& .zen-current-workspace-indicator-name {
			justify-content: center !important;
			opacity: 0.8 !important;
			font-weight: 500 !important;
			font-family: monospace !important;
			font-size: 16px !important;
			color: var(--text) !important;
		}

		& .zen-workspaces-actions {
			visibility: visible !important;
			position: absolute !important;
			right: 0 !important;

			& .toolbarbutton-icon {
				background: transparent !important;
				transition: background 0.5s ease !important;
				display: none !important;
			}
		}

		&::before {
			background: var(--blue) !important;
			position: absolute !important;
			border-radius: 20px !important;

			left: auto !important;
			right: auto !important;
			height: 3px !important;
			top: auto !important;
			bottom: 1% !important;
			width: 0% !important;
		}
	}
}

:root:not([animating-background='true'])[zen-sidebar-expanded='true'] zen-workspace {
	&[active] {
		& .zen-current-workspace-indicator {
			&::before {
				width: 65% !important;
				transition: width 0.6s ease, opacity 0.5s ease !important;
			}

			&:hover {
				&::before {
					width: 80% !important;
					transition: width 0.3s ease !important;
				}
			}
		}
	}
}

#zen-workspaces-button {
	background: transparent !important;
	box-shadow: 0 0px 0px transparent !important;
	/* filter: drop-shadow(0px 0px 5px var(--zen-primary-color)) brightness(1) !important; */
}

#zen-workspaces-button .subviewbutton {
	filter: none !important;
	background: transparent !important;
	opacity: 1 !important;
	max-height: unset !important;
	height: auto !important;
	min-height: 25px !important;

	min-width: 30px !important;

	margin: 0px 0px !important;
	padding: 0px 0px !important;
}

:root:not([zen-sidebar-expanded='true']) {
	#zen-workspaces-button .subviewbutton {
		min-width: 100% !important;
	}
}

#zen-workspaces-button .subviewbutton .zen-workspace-icon {
	border: none !important;
	background-color: color-mix(in srgb, var(--nug-icon-color) 20%, #f0f0f020) !important;
	box-shadow: 0 0px 0px color-mix(in srgb, var(--nug-icon-color) 0%, black) !important;

	width: 10px;
	min-width: 10px !important;
	max-width: unset !important;

	height: 10px !important;
	min-height: 10px !important;

	padding: 0px 0px !important;
	margin: 0px 0px !important;

	border-radius: 10px !important;

	opacity: 1 !important;
	content: none !important;
	text-align: center !important;
	text-justify: center !important;

	/* Removes the icons */
	color: rgba(0, 0, 0, 0) !important;
	font-size: 0px !important;

	transition: opacity 0.5s ease, background-color 0.5s ease, box-shadow 0.7s ease, scale 0.5s ease, width 0.3s ease !important;
}

/* Transitions */
#zen-workspaces-button toolbarbutton:not([active='true']) .zen-workspace-icon {
	transition: opacity 0.5s ease, background-color 0.5s ease, box-shadow 0.7s ease, scale 0.5s ease, width 0.4s ease !important;
}

#zen-workspaces-button toolbarbutton[active='true'] .zen-workspace-icon {
	background-color: var(--nug-icon-color) !important;
	box-shadow: 0 0px 5px var(--nug-icon-color) !important;
	width: 22px !important;
}

#zen-workspaces-button toolbarbutton:not([active='true']):hover .zen-workspace-icon {
	background-color: var(--nug-icon-color) !important;
	box-shadow: 0 0px 4px var(--nug-icon-color) !important;
	opacity: 1 !important;
	width: 16px !important;
}

:root:not([zen-sidebar-expanded='true']) {
	#zen-workspaces-button {
		flex-direction: row !important;
		flex-wrap: wrap !important;
		white-space: nowrap !important;
		padding-top: 10px !important;
		padding-bottom: 10px !important;
		overflow-x: unset !important;
		overflow-y: auto !important;

		& .subviewbutton {
			width: 100% !important;
		}
	}
}

@media (-moz-pref('nug-hide-workspace-indicator')) {
	.zen-current-workspace-indicator {
		display: none !important;
	}
}

@media (-moz-bool-pref: 'nug-hide-workspace-buttons') {
	#zen-workspaces-button {
		display: none !important;
	}
}
