@import 'Modules/Palette.css';
@import 'Modules/Dialogs.css';
@import 'Modules/Extensions.css';
@import 'Modules/Findbar.css';
@import 'Modules/Folders.css';
@import 'Modules/Icons.css';
@import 'Modules/Tabs.css';
@import 'Modules/CtrlTab.css';
@import 'Modules/Tweaks.css';
@import 'Modules/URLbar.css';
@import 'Modules/Workspace.css';

@media (prefers-reduced-motion: reduce) and (not (-moz-bool-pref: 'nug.ignore-reduced-motion')) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
