@import 'modules/Context.css';
@import 'modules/Extensions.css';
@import 'modules/Findbar.css';
@import 'modules/General.css';
@import 'modules/Icons.css';
@import 'modules/Media.css';
@import 'modules/Tabs.css';
@import 'modules/URLbar.css';
@import 'modules/Workspace.css';

/* Font */
@media (-moz-pref('nug-font', 0)) {
	:root {
		--nug-font: sans-serif;
	}
}

@media (-moz-pref('nug-font', 1)) {
	:root {
		--nug-font: serif;
	}
}

@media (-moz-pref('nug-font', 2)) {
	:root {
		--nug-font: monospace;
	}
}

/* always use monospace in url bar */
.urlbar-input {
	font-family: monospace !important;
}

* {
	font-weight: var(--nug-font_weight) !important;
	font-family: var(--nug-font), sans-serif;
}

browser {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

:root {
	--tab-collapsed-background-width: 40px !important;
}

@media not (-moz-bool-pref: 'zen.view.sidebar-expanded') {
	:root {
		--tab-min-height: 39px !important;
	}
}

/* Vars */
@media (prefers-color-scheme: dark) {
	:root {
		--nug-accent: var(--teal);
		--zen-colors-primary: #313244 !important;
		--zen-primary-color: #94e2d5 !important;
		--zen-colors-secondary: #313244 !important;
		--zen-colors-tertiary: #181825 !important;
		--zen-colors-border: #313244 !important;
		--toolbarbutton-icon-fill: #cba6f7 !important;
		--lwt-text-color: #cdd6f4 !important;
		--toolbar-field-color: #cdd6f4 !important;
		--tab-selected-textcolor: rgb(176, 220, 229) !important;
		--toolbar-field-focus-color: #cdd6f4 !important;
		--toolbar-color: #cdd6f4 !important;
		--newtab-text-primary-color: #cdd6f4 !important;
		--arrowpanel-color: #cdd6f4 !important;
		--arrowpanel-background: #1e1e2e !important;
		--sidebar-text-color: #cdd6f4 !important;
		--lwt-sidebar-text-color: #cdd6f4 !important;
		--lwt-sidebar-background-color: #11111b !important;
		--toolbar-bgcolor: var(--surface0) !important;
		--newtab-background-color: var(--base) !important;
		--zen-themed-toolbar-bg: var(--mantle) !important;
		--zen-main-browser-background: var(--mantle) !important;
		--toolbox-bgcolor-inactive: var(--mantle) !important;
		--nug-color-bg: var(--mantle);
		--nug-color-hover: color-mix(in srgb, var(--zen-primary-color) 20%, #232336);
		--nug-glow-color-1: color-mix(in srgb, var(--zen-primary-color) 90%, white);
		--nug-glow-color-2: color-mix(in srgb, var(--zen-primary-color) 70%, white);
		--nug-border-radius: 4px;
		--nug-blur: blur(52px) saturate(180%) brightness(110%);
		--nug-blur-simple: blur(15px) brightness(110%) saturate(260%);
		--nug-blur-color: color-mix(in srgb, var(--zen-primary-color) 1%, #000000a0);
		--acrylic-bg: light-dark(rgb(250, 250, 250), rgb(24, 24, 27));
		--acrylic-backdrop: saturate(2.5) !important;
		--acrylic-shadow: 0 8px 32px color-mix(in srgb, var(--nug-accent) 15%, transparent 85%);
		--nug-accent-off: var(--peach);
		--acrylic-shadow-off: 0 8px 32px color-mix(in srgb, var(--nug-accent-off) 15%, transparent 85%);
		--acrylic-glass-bg: color-mix(in srgb, var(--acrylic-bg) 40%, transparent 60%);
		--base: #1e1e2e;
		--mantle: #181825;
		--crust: #11111b;
		--surface0: #313244;
		--surface1: #45475a;
		--surface2: #585b70;
		--overlay0: #6c7086;
		--overlay1: #7f849c;
		--overlay2: #9399b2;
		--subtext0: #a6adc8;
		--subtext1: #bac2de;
		--text: #cdd6f4;
		--lavender: #b4befe;
		--blue: #89b4fa;
		--sapphire: #74c7ec;
		--sky: #89dceb;
		--teal: #94e2d5;
		--green: #a6e3a1;
		--yellow: #f9e2af;
		--peach: #fab387;
		--maroon: #eba0ac;
		--red: #f38ba8;
		--mauve: #cba6f7;
		--pink: #f5c2e7;
		--flamingo: #f2cdcd;
		--rosewater: #f5e0dc;
	}

	#permissions-granted-icon {
		color: #181825 !important;
	}

	.sidebar-placesTree {
		background-color: #1e1e2e !important;
	}

	#zen-workspaces-button {
		background-color: #1e1e2e !important;
	}

	#TabsToolbar {
		background-color: #181825 !important;
	}

	.urlbar-background {
		background-color: #1e1e2e !important;
	}

	.content-shortcuts {
		background-color: #1e1e2e !important;
		border-color: #94e2d5 !important;
	}

	.urlbarView-url {
		color: #94e2d5 !important;
	}

	#zenEditBookmarkPanelFaviconContainer {
		background: #11111b !important;
	}

	#zen-media-controls-toolbar {
		& #zen-media-progress-bar {
			&::-moz-range-track {
				background: #313244 !important;
			}
		}
	}

	toolbar .toolbarbutton-1 {
		&:not([disabled]) {
			&:is([open], [checked]) > :is(.toolbarbutton-icon, .toolbarbutton-text, .toolbarbutton-badge-stack) {
				fill: #11111b;
			}
		}
	}

	.identity-color-blue {
		--identity-tab-color: #89b4fa !important;
		--identity-icon-color: #89b4fa !important;
	}

	.identity-color-turquoise {
		--identity-tab-color: #94e2d5 !important;
		--identity-icon-color: #94e2d5 !important;
	}

	.identity-color-green {
		--identity-tab-color: #a6e3a1 !important;
		--identity-icon-color: #a6e3a1 !important;
	}

	.identity-color-yellow {
		--identity-tab-color: #f9e2af !important;
		--identity-icon-color: #f9e2af !important;
	}

	.identity-color-orange {
		--identity-tab-color: #fab387 !important;
		--identity-icon-color: #fab387 !important;
	}

	.identity-color-red {
		--identity-tab-color: #f38ba8 !important;
		--identity-icon-color: #f38ba8 !important;
	}

	.identity-color-pink {
		--identity-tab-color: #f5c2e7 !important;
		--identity-icon-color: #f5c2e7 !important;
	}

	.identity-color-purple {
		--identity-tab-color: #cba6f7 !important;
		--identity-icon-color: #cba6f7 !important;
	}

	hbox#titlebar {
		background-color: #181825 !important;
	}

	#zen-appcontent-navbar-container {
		background-color: #181825 !important;
	}
}
