@import 'modules/Animations.css';
@import 'modules/Ext.css';
@import 'modules/Findbar.css';
@import 'modules/General.css';
@import 'modules/Icons.css';
@import 'modules/Media.css';
@import 'modules/Sidebar.css';
@import 'modules/Tabs.css';
@import 'modules/URLbar.css';
@import 'modules/Workspace.css';

/* Font */
@media (-moz-pref('nug-font', 0)) {
	:root {
		--nug-font: sans-serif;
	}
}

@media (-moz-pref('nug-font', 1)) {
	:root {
		--nug-font: serif;
	}
}

@media (-moz-pref('nug-font', 2)) {
	:root {
		--nug-font: monospace;
	}
}

/* always use monospace in url bar */
.urlbar-input {
	font-family: monospace !important;
}

* {
	font-weight: var(--nug-font_weight) !important;
	font-family: var(--nug-font), sans-serif;
}

browser {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

:root {
	--tab-collapsed-background-width: 40px !important;
}

@media not (-moz-bool-pref: 'zen.view.sidebar-expanded') {
	:root {
		--tab-min-height: 39px !important;
	}
}

/* Mocha */
:root {
	--zen-colors-primary: #313244 !important;
	--zen-primary-color: #94e2d5 !important;
	--zen-colors-secondary: #313244 !important;
	--zen-colors-tertiary: #181825 !important;
	--zen-colors-border: #94e2d5 !important;
	--zen-colors-border: #313244 !important;
	--toolbarbutton-icon-fill: #cba6f7 !important;
	--lwt-text-color: #cdd6f4 !important;
	--toolbar-field-color: #cdd6f4 !important;
	--tab-selected-textcolor: rgb(176, 220, 229) !important;
	--toolbar-field-focus-color: #cdd6f4 !important;
	--toolbar-color: #cdd6f4 !important;
	--newtab-text-primary-color: #cdd6f4 !important;
	--arrowpanel-color: #cdd6f4 !important;
	--arrowpanel-background: #1e1e2e !important;
	--sidebar-text-color: #cdd6f4 !important;
	--lwt-sidebar-text-color: #cdd6f4 !important;
	--lwt-sidebar-background-color: #11111b !important;
	--toolbar-bgcolor: #313244 !important;
	--newtab-background-color: #1e1e2e !important;
	--zen-themed-toolbar-bg: #181825 !important;
	--zen-main-browser-background: #181825 !important;
	--toolbox-bgcolor-inactive: #181825 !important;

	.identity-color-blue {
		--identity-tab-color: #89b4fa !important;
		--identity-icon-color: #89b4fa !important;
	}

	.identity-color-turquoise {
		--identity-tab-color: #94e2d5 !important;
		--identity-icon-color: #94e2d5 !important;
	}

	.identity-color-green {
		--identity-tab-color: #a6e3a1 !important;
		--identity-icon-color: #a6e3a1 !important;
	}

	.identity-color-yellow {
		--identity-tab-color: #f9e2af !important;
		--identity-icon-color: #f9e2af !important;
	}

	.identity-color-orange {
		--identity-tab-color: #fab387 !important;
		--identity-icon-color: #fab387 !important;
	}

	.identity-color-red {
		--identity-tab-color: #f38ba8 !important;
		--identity-icon-color: #f38ba8 !important;
	}

	.identity-color-pink {
		--identity-tab-color: #f5c2e7 !important;
		--identity-icon-color: #f5c2e7 !important;
	}

	.identity-color-purple {
		--identity-tab-color: #cba6f7 !important;
		--identity-icon-color: #cba6f7 !important;
	}
}

/* Vars */
:root {
	--nug-Color-Dark: color-mix(in srgb, var(--zen-primary-color) 10%, #000000c0);
	--nug-Color-Light: color-mix(in srgb, var(--zen-primary-color) 25%, white);

	/* Blacks*/
	--nug-Black-1: light-dark(color-mix(in srgb, #ffffff 40%, transparent), color-mix(in srgb, #000000 35%, transparent));
	--nug-Black-2: light-dark(
		color-mix(in srgb, #ffffff 100%, transparent),
		color-mix(in srgb, #000000 35%, transparent)
	);
	--nug-Black-3: light-dark(color-mix(in srgb, #ffffff 25%, transparent), color-mix(in srgb, #000000 60%, transparent));

	/* Shadows */
	--nug-Shadow-Color-1: light-dark(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.4));
	--nug-Shadow-Color-2: light-dark(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.8));
	--nug-Shadow-Color-3: light-dark(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 1));

	/* Glows */
	--nug-Glow-Color-1: color-mix(in srgb, var(--zen-primary-color) 90%, white);
	--nug-Glow-Color-2: color-mix(in srgb, var(--zen-primary-color) 80%, white);
	--nug-Glow-Color-3: color-mix(in srgb, var(--zen-primary-color) 70%, white);

	/* Border radius */
	--nug-Border-Radius: 4px;

	/* Blur */
	--nug-Blur: blur(52px) saturate(180%) brightness(110%);
	--nug-Blur-Simple: blur(15px) brightness(110%) saturate(260%);

	/* Blur color */
	--nug-Blur-Color: color-mix(in srgb, var(--zen-primary-color) 1%, #000000a0);

	/* Width Compact Mode */
	--nug-Width-Compact-Expanded: 21em;

	/* Background */
	--nug-Background-Color: light-dark(rgba(215, 215, 215, 1), rgba(30, 30, 30, 1));
}
