/* modules import */
@import "modules/General-UI.css";
@import "modules/Fonts.css";
@import "modules/Window-buttons.css";
@import "modules/Findbar.css";
@import "modules/Media.css";
@import "modules/Search.css";
@import "modules/Tabs.css";
@import "modules/URLbar.css";
@import "modules/Pinned.css";
@import "modules/ExtensionMenu.css";

/* config import */
@import "Nug-config.css";

/* Core theme styles */
browser {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

:root {
	--tab-collapsed-background-width: 40px !important;
}

@media not (-moz-bool-pref: 'zen.view.sidebar-expanded') {
	:root {
		--tab-min-height: 39px !important;
	}
}

/* Catppuccin Mocha Colors */
@media not (-moz-bool-pref: 'catppuccin-colors-disabled') {
	:root {
		--zen-colors-primary: #313244 !important;
		--zen-primary-color: #94e2d5 !important;
		--zen-colors-secondary: #313244 !important;
		--zen-colors-tertiary: #181825 !important;
		--zen-colors-border: #94e2d5 !important;
		--zen-colors-border: #313244 !important;
		--toolbarbutton-icon-fill: #cba6f7 !important;
		--lwt-text-color: #cdd6f4 !important;
		--toolbar-field-color: #cdd6f4 !important;
		--tab-selected-textcolor: rgb(176, 220, 229) !important;
		--toolbar-field-focus-color: #cdd6f4 !important;
		--toolbar-color: #cdd6f4 !important;
		--newtab-text-primary-color: #cdd6f4 !important;
		--arrowpanel-color: #cdd6f4 !important;
		--arrowpanel-background: #1e1e2e !important;
		--sidebar-text-color: #cdd6f4 !important;
		--lwt-sidebar-text-color: #cdd6f4 !important;
		--lwt-sidebar-background-color: #11111b !important;
		--toolbar-bgcolor: #313244 !important;
		--newtab-background-color: #1e1e2e !important;
		--zen-themed-toolbar-bg: #181825 !important;
		--zen-main-browser-background: #181825 !important;
		--toolbox-bgcolor-inactive: #181825 !important;
		--w-urlbar-bg_color: #f5c2e7aa, #cba6f7aa, #f38ba8aa, #eba0acaa, #fab387aa, #f9e2afaa, #a6e3a1aa, #94e2d5aa,
			#89dcebaa, #74c7ecaa, #89b4faaa, #b4befeaa, #f5c2e7aa, #cba6f7aa, #f38ba8aa, #eba0acaa, #fab387aa, #f9e2afaa,
			#a6e3a1aa, #94e2d5aa, #89dcebaa, #74c7ecaa, #89b4faaa, #b4befeaa;
	}

	.identity-color-blue {
		--identity-tab-color: #89b4fa !important;
		--identity-icon-color: #89b4fa !important;
	}

	.identity-color-turquoise {
		--identity-tab-color: #94e2d5 !important;
		--identity-icon-color: #94e2d5 !important;
	}

	.identity-color-green {
		--identity-tab-color: #a6e3a1 !important;
		--identity-icon-color: #a6e3a1 !important;
	}

	.identity-color-yellow {
		--identity-tab-color: #f9e2af !important;
		--identity-icon-color: #f9e2af !important;
	}

	.identity-color-orange {
		--identity-tab-color: #fab387 !important;
		--identity-icon-color: #fab387 !important;
	}

	.identity-color-red {
		--identity-tab-color: #f38ba8 !important;
		--identity-icon-color: #f38ba8 !important;
	}

	.identity-color-pink {
		--identity-tab-color: #f5c2e7 !important;
		--identity-icon-color: #f5c2e7 !important;
	}

	.identity-color-purple {
		--identity-tab-color: #cba6f7 !important;
		--identity-icon-color: #cba6f7 !important;
	}
}

/* floating status bar */
#statuspanel {
	margin: 10px !important;
}

#statuspanel-label {
	border-radius: 11px !important;
	padding: 3px 10px !important;
	border: 1px solid var(--zen-colors-border) !important;
	background: var(--zen-colors-tertiary) !important;
}

/* download button background */
#downloads-indicator-progress-outer::after {
	content: '';
	display: block;
	position: absolute;
	inset: 0;
	z-index: -40;
	background: var(--toolbar-field-background-color);
}

/* hide extension name in url bar */
#urlbar #identity-box.extensionPage #identity-icon-label {
	display: none !important;
}