/* Top alignment for fixed position */
@media not (-moz-pref('nug-features-disabled')) {
	@media not (-moz-pref('nug-features-search-disabled')) {
		@media (-moz-pref('zen.urlbar.behavior', 'float')) {
			:root:not([animating-background='true']):has(
					#urlbar[open=''][focused=''][zen-floating-urlbar='true'][usertyping='']
				) {
				@media (-moz-pref('browser.urlbar.maxRichResults', 7)) {
					#zen-main-app-wrapper::after {
						top: calc(28% + var(--zen-element-separation) / 4) !important;
					}
				}

				@media (-moz-pref('browser.urlbar.maxRichResults', 6)) {
					#zen-main-app-wrapper::after {
						top: calc(30% + var(--zen-element-separation) / 4) !important;
					}
				}

				@media (-moz-pref('browser.urlbar.maxRichResults', 5)) {
					#zen-main-app-wrapper::after {
						top: calc(32% + var(--zen-element-separation) / 4) !important;
					}
				}

				@media (-moz-pref('browser.urlbar.maxRichResults', 4)) {
					#zen-main-app-wrapper::after {
						top: calc(34% + var(--zen-element-separation) / 4) !important;
					}
				}

				@media (-moz-pref('browser.urlbar.maxRichResults', 3)) {
					#zen-main-app-wrapper::after {
						top: calc(36% + var(--zen-element-separation) / 4) !important;
					}
				}

				@media not (-moz-pref('nug-features-ultra-search-enabled')) {
					@media (-moz-pref('browser.urlbar.maxRichResults', 7)) {
						#zen-main-app-wrapper::after {
							height: calc(7px + 10px + var(--urlbar-container-height) + var(--Auxiliar-Row-Height) * 7) !important;
						}
					}

					@media (-moz-pref('browser.urlbar.maxRichResults', 6)) {
						#zen-main-app-wrapper::after {
							height: calc(7px + 10px + var(--urlbar-container-height) + var(--Auxiliar-Row-Height) * 6) !important;
						}
					}

					@media (-moz-pref('browser.urlbar.maxRichResults', 5)) {
						#zen-main-app-wrapper::after {
							height: calc(7px + 10px + var(--urlbar-container-height) + var(--Auxiliar-Row-Height) * 5) !important;
						}
					}

					@media (-moz-pref('browser.urlbar.maxRichResults', 4)) {
						#zen-main-app-wrapper::after {
							height: calc(7px + 10px + var(--urlbar-container-height) + var(--Auxiliar-Row-Height) * 4) !important;
						}
					}

					@media (-moz-pref('browser.urlbar.maxRichResults', 3)) {
						#zen-main-app-wrapper::after {
							height: calc(7px + 10px + var(--urlbar-container-height) + var(--Auxiliar-Row-Height) * 3) !important;
						}
					}
				}
			}
		}
	}
}
