@import 'Nug-Search-Align.css';
@import 'Nug-Search-Background.css';
@import 'Nug-Search-Background-Align.css';

:root {
	--Auxiliar-Row-Height: calc(var(--nug-Rows-Height) + var(--nug-Margin-Height) + 4px) !important;
}

@media not (-moz-pref('nug-features-disabled')) {
	@media not (-moz-pref('nug-features-search-disabled')) {
		:root {
			--nug-Zen-URL-Height: 50px;
			--urlbar-container-height: var(--nug-Zen-URL-Height) !important;
		}

		:root:not([animating-background='true']) {
			#urlbar {
				transition: top 0.5s ease, width 0.5s ease;
			}

			#urlbar[open] #urlbar-background {
				background: var(--nug-Blur-Color) !important;
				backdrop-filter: var(--nug-Blur) !important;
				border-radius: calc(var(--nug-border-radius) + 2px) !important;
			}

			#urlbar[open] {
				@media (-moz-pref('zen.urlbar.behavior', 'float')) {
					top: 45% !important;
				}

				width: min(90%, 65rem) !important;
			}

			#urlbar[open][zen-floating-urlbar='true'] {
				--urlbar-container-height: var(--nug-Zen-URL-Height) !important;

				& .urlbarView {
					@media (-moz-pref('zen.urlbar.behavior', 'float')) {
						min-height: 0px !important;
						max-height: 0px !important;
						opacity: 0 !important;
					}

					transition: min-height 0.5s ease, opacity 0.1s ease !important;

					& #urlbar-results {
						display: flex !important;
						flex-direction: column !important;
						overflow: auto !important;
						padding: 10px 10px 0px 10px !important;
						justify-content: center !important;

						& .urlbarView-row {
							height: var(--nug-Rows-Height) !important;
							min-height: var(--nug-Rows-Height) !important;
							max-height: var(--nug-Rows-Height) !important;
							margin-top: 0px !important;
							margin-bottom: var(--nug-Margin-Height) !important;
						}
					}
				}
			}
		}
	}
}
