/* Pseudo background for media player */
@media not (-moz-pref('nug-features-disabled')) {
	@media not (-moz-pref('nug-features-media-disabled')) {
		#TabsToolbar::before {
			align-self: center !important;
			justify-self: center !important;
			position: absolute !important;
			z-index: -1 !important;
			content: '' !important;
			background: var(--nug-Background-Color);

			width: calc(100%);
			opacity: 0;

			height: 34px;
			top: auto;
			left: auto;
			right: auto !important;
			bottom: 0px;

			border-radius: var(--nug-Border-Radius) !important;
			visibility: visible !important;
			transition: bottom 0.3s ease 100ms, height 0.2s ease, opacity 0.1s ease;
		}

		:root[zen-sidebar-expanded='true'] {
			:has(#zen-media-controls-toolbar[media-sharing='']:hover) {
				#TabsToolbar::before {
					height: 69px !important;
				}
			}

			:has(#zen-media-controls-toolbar:not([media-sharing=''])[media-position-hidden]:hover) {
				#TabsToolbar::before {
					height: 69px;
				}
			}

			:has(#zen-media-controls-toolbar:not([media-sharing='']):not([media-position-hidden]):hover) {
				#TabsToolbar::before {
					height: 107px;
				}

				:has(#zen-media-controls-toolbar[media-position-hidden]) {
					#TabsToolbar::before {
						height: 69px;
					}
				}
			}

			:has(#zen-media-controls-toolbar:not([media-position-hidden])) {
				:has(#zen-media-artist:empty) {
					#TabsToolbar::before {
						height: 93px;
					}
				}
			}

			@media not (-moz-pref('nug-features-bottom-disabled')) {
				@media (-moz-bool-pref: 'nug-bottom-at-bottom') {
					#TabsToolbar::before {
						bottom: calc(var(--zen-toolbox-padding) * 2 + 50px);
					}

					&:has(#zen-sidebar-foot-buttons:hover) {
						&:not(:has(#zen-workspaces-button:hover)) {
							#TabsToolbar::before {
								bottom: calc(var(--zen-toolbox-padding) + 115px) !important;
							}
						}
					}
				}
			}
		}

		:root:not([zen-sidebar-expanded='true']) {
			#TabsToolbar::before {
				width: calc(44px);
				transition: height 1s ease, opacity 0.5s ease !important;
			}

			:has(#zen-media-controls-toolbar[media-position-hidden='true']:hover) {
				#TabsToolbar::before {
					height: 190px;
				}
			}

			:has(#zen-media-controls-toolbar:not([media-position-hidden='true']):hover) {
				#TabsToolbar::before {
					height: 190px;
				}
			}
		}

		:has(#zen-media-controls-toolbar:hover) {
			& #TabsToolbar::before {
				opacity: 1 !important;
			}

			:not(:has([zen-single-toolbar='true']))[zen-compact-mode='true'] {
				@media not (-moz-pref('zen.view.compact.hide-tabbar')) {
					#TabsToolbar::before {
						opacity: 1 !important;
					}
				}
			}

			&[zen-compact-mode='true'] {
				#TabsToolbar::before {
					opacity: 0 !important;
				}
			}
		}
	}
}
