@media not (-moz-pref('nug-features-disabled')) {
	@media not (-moz-pref('nug-features-bottom-disabled')) {
		:root[zen-sidebar-expanded='true']:not([animating-background='true']):not([customizing='']) {
			@media not (-moz-bool-pref: 'nug-features-workspace-button-hidden') {
				#zen-sidebar-foot-buttons:not(:has(#zen-workspaces-button > .subviewbutton:only-child)) {
					&:hover:not(:has(#zen-workspaces-button:hover)),
					&:has(toolbarbutton[open='true']) {
						@media not (-moz-bool-pref: 'nug-features-bottom-keep-expanded') {
							height: 110px !important;

							&::after {
								opacity: 0 !important;
								width: 0px !important;
								top: 0px !important;
								height: 0px !important;

								transition: width 0.2s 0ms ease, height 0.3s 0ms ease, top 0.2s ease 0ms, bottom 0.2s ease 0ms,
									opacity 0.2s ease 0ms !important;
							}

							& #zen-workspaces-button {
								height: 0px !important;
								margin-top: 0px !important;
								margin-bottom: 0px !important;
								transition: height 0.3s 0ms ease, top 0.5s ease 0ms, bottom 0.5s ease 0ms, opacity 1s ease 0ms !important;
							}

							& > .toolbarbutton-1:not(#zen-workspaces-button),
							& > .toolbaritem-combined-buttons {
								opacity: 1 !important;
								pointer-events: all !important;
							}
						}
					}
				}
			}
		}
	}
}
