@media not (-moz-pref('nug-features-disabled')) {
	@media not (-moz-pref('nug-bottom-at-bottom')) {
		:root[zen-sidebar-expanded='true']:not([customizing='']) {
			#zen-sidebar-foot-buttons {
				order: -1 !important;
				margin-top: 10px !important;
				margin-bottom: 10px !important;
			}
		}
	}

	@media (-moz-pref('nug-bottom-at-bottom')) {
		:root[zen-sidebar-expanded='true']:not([customizing='']) {
			#zen-sidebar-foot-buttons {
				margin-top: 5px !important;
			}
		}
	}
}
