@keyframes half-borderTrail {
	0% {
		top: 10%;
		left: 20%;
		width: 20%;
		height: 3px;
		opacity: 1;
	}
	15% {
		top: 10%;
		left: 60%;
		width: 20%;
		height: 3px;
		opacity: 0.8;
	}
	25% {
		top: 10%;
		left: 95.5%;
		width: 3px;
		height: 3px;
		opacity: 0.6;
	}
	45% {
		top: 50%;
		left: 95.5%;
		width: 3px;
		height: 30%;
		opacity: 0.7;
	}
	55% {
		top: 76%;
		left: 95.5%;
		width: 3px;
		height: 3px;
		opacity: 0.9;
	}
	75% {
		top: 76%;
		left: 85%;
		width: 10%;
		height: 3px;
		opacity: 1;
	}
	100% {
		top: 76%;
		left: 70%;
		width: 20%;
		height: 3px;
		opacity: 0;
	}
}

@keyframes iconAnimation-open {
	0% {
		transform: rotate(0deg) scale(1);
	}

	50% {
		transform: rotate(360deg) scale(1.2);
	}

	75% {
		transform: rotate(360deg) scale(0.9);
	}

	100% {
		transform: rotate(360deg) scale(1);
	}
}

@keyframes iconAnimation-close {
	0% {
		transform: rotate(0deg) scale(1);
	}

	50% {
		transform: rotate(-360deg) scale(1.2);
		/* Jumpy scaling */
	}

	75% {
		transform: rotate(-360deg) scale(0.9);
	}

	100% {
		transform: rotate(-360deg) scale(1);
	}
}

/* animation for rotating icons on hover */
@keyframes icon-rotate-hover {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

#urlbar-results {
	transition: height 180ms ease-in-out !important;
	overflow-y: auto !important;
}

@media (-moz-pref('nug.url.bar.animation', 1)) {
	@media (-moz-pref('zen.urlbar.behavior', 'float')) {
		#urlbar[breakout-extend='true'] {
			transition: top 0.5s ease, width 0.3s ease;
		}
		#urlbar[open][zen-floating-urlbar='true'] {
			--urlbar-container-height: 4.5rem !important;
			min-width: min(60%, 10rem) !important;

			width: min(70%, 57rem) !important;

			& #urlbar-background {
				transition: border-radius 0.4s ease !important;
			}

			& .urlbarView {
				transition: opacity 0.1s ease !important;
			}
		}
	}
}

@media (-moz-pref('zen.urlbar.behavior', 'float')) {
	#urlbar[open]:not([usertyping='']) > .urlbarView {
		max-height: 0 !important;
		overflow: hidden !important;
		transition: max-height 0.4s ease !important;
	}

	#urlbar[open][usertyping=''] > .urlbarView {
		max-height: 500px !important;
		transition: max-height 0.3s ease !important;
	}
}

@keyframes urlbar-bounce-and-shadow-pulse {
	0% {
		scale: 1;
		box-shadow: 0 0 20px 5px transparent; /* Glow is OFF */
	}

	25% {
		box-shadow: 0 0 20px 5px color-mix(in srgb, var(--nug-search-gradient-start) 60%, transparent);
	}

	50% {
		scale: 0.93;
		box-shadow: 0 0 80px 8px color-mix(in srgb, var(--nug-search-gradient-start) 80%, transparent);
	}
	80% {
		scale: 0.95;
		box-shadow: 0 0 120px 8px color-mix(in srgb, var(--nug-search-gradient-start) 80%, transparent);
	}

	100% {
		scale: 0.98;
		box-shadow: 0 0 120px 8px transparent; /* Glow is OFF */
	}
}

#urlbar {
	transform-origin: left !important;
}

#urlbar[searchmode] {
	animation: urlbar-bounce-and-shadow-pulse 450ms ease-out forwards;
	border-radius: var(--url-bar-border_radius, 1.7rem) !important;
}

/* load bar */
@-moz-document url-prefix("chrome:") {
	/* Assume single-toolbar mode as the base use case */
	.browserSidebarContainer.deck-selected::before {
		content: '' !important;
		position: absolute !important;
		top: 0px !important; /* This will get overriden if the toolbar is showing */
		left: 0px !important;
		height: 4px !important; /* Height of the top background */
		max-width: 100% !important;
		width: var(--bar-pcent) !important; /* Ensure full width or customizable width */
		background-color: var(--bar-colour) !important; /* Solid color for the bar */
		filter: drop-shadow(0px 0px 10px black) !important;
		border-radius: 0 2px 2px 0 !important;
		@media (-moz-bool-pref: 'uc.loadbar.no-rounded-corner') {
			border-radius: 0 !important; /* Adjust this value to control the roundness of the ends */
		}
		z-index: 1 !important;
		/* Apply smooth transition on width, top and background */
		transition: width 0.5s ease-in-out, top 0.1s ease-in-out, background 0.2s ease !important;
	}

	/* When the toolbar is permanently showing, we move the loading bar under it */
	@media not (-moz-bool-pref: 'zen.view.compact.hide-toolbar') and not (-moz-bool-pref: 'zen.view.use-single-toolbar') {
		.browserSidebarContainer.deck-selected::before {
			top: 40px !important;
		}
	}

	.browserSidebarContainer.deck-selected:has([zen-glance-selected])::before,
	.browserSidebarContainer.deck-selected.zen-glance-overlay::before {
		max-width: calc(85%) !important;
		left: calc(15% / 2) !important;
		border-radius: 6px !important;
	}

	.browserSidebarContainer.deck-selected.zen-glance-background::before {
		background: transparent !important;
		height: 0px !important;
	}

	:root {
		&:has(.tabbrowser-tab[selected][busy]) {
			--bar-colour: var(--zen-primary-color);
			--bar-pcent: 15%;
		}
		&:has(.tabbrowser-tab[selected][busy][pendingicon]) {
			--bar-colour: var(--zen-primary-color);
			--bar-pcent: 45%;
		}
		&:has(.tabbrowser-tab[selected][busy][pendingicon][progress]) {
			--bar-colour: var(--zen-primary-color);
			--bar-pcent: 85%;
		}
		&:has(.tabbrowser-tab[selected][busy][progress]) {
			--bar-colour: var(--zen-primary-color);
			--bar-pcent: 95%;
		}
		&:has(.tabbrowser-tab[selected][muted]:not([busy])) {
			--bar-colour: orangered;
			--bar-pcent: 100%;

			.browserSidebarContainer.deck-selected::before {
				border-radius: 0;
			}
		}
	}

	@media (-moz-bool-pref: 'zen.view.compact.hide-toolbar') {
		:root:not([zen-single-toolbar='true']):has([zen-compact-mode='true']) {
			&:has(#zen-appcontent-navbar-wrapper[zen-has-hover]),
			&:has(#zen-appcontent-navbar-wrapper[zen-user-show]),
			&:has(#zen-appcontent-navbar-wrapper[has-popup-menu]),
			&:has(
					*:is(
							#zen-appcontent-navbar-wrapper[panelopen='true'],
							#zen-appcontent-navbar-wrapper[open='true'],
							#urlbar:focus-within:not(#urlbar[zen-floating-urlbar='true']),
							#zen-appcontent-navbar-wrapper[breakout-extend='true']
						)
						:not(.zen-compact-mode-ignore)
				) {
				.browserSidebarContainer.deck-selected::before {
					top: 39px !important;
				}
			}
		}
	}
}
