browser {
	will-change: transform;
}

@keyframes glass-disappear {
	0% {
		backdrop-filter: blur(10px);
		opacity: 1;
	}

	99% {
		backdrop-filter: blur(10px);
		opacity: 0.1;
	}

	100% {
		backdrop-filter: none;
		opacity: 0;
	}
}

findbar {
	padding-inline-start: 0px !important;
	padding-inline-end: 5px !important;
	padding-top: 1px !important;
	padding-bottom: 2px !important;
	display: block !important;
	box-sizing: border-box;
	box-shadow: 0px 0px 12px var(--nug-glow-color-2) !important;
	border: 1px solid var(--nug-glow-color-1) !important;
	position: fixed;
	top: 35px;
	right: 15px;
	width: 320px;
	height: 78px !important;
	/* 	max-width: 800px !important;
	min-width: 300px !important;
	min-height: 95px !important;
	max-height: 95px !important; */
	border-radius: var(--url-bar-border_radius, 1.7rem) !important;
	background: var(--nug-blur-color) !important;
	backdrop-filter: var(--nug-blur-simple) !important;
	opacity: 1;
	z-index: 9999;
}

findbar:has(.findbar-textbox[status='notfound']) {
	border: 1px solid var(--red) !important;
	box-shadow: 0px 0px 12px rgba(255, 68, 68, 0.5) !important;
}

&:is([hidden='true']) {
	visibility: inherit !important;
	pointer-events: none !important;
	opacity: 0 !important;
	top: 0 !important;
	animation: glass-disappear 0.3s cubic-bezier(0.4, 0, 0.2, 1) !important;
	animation-fill-mode: forwards !important;
	filter: blur(5px);
	transform: translateY(-10px);
}

/* hiding */
.findbar-closebutton {
	display: none !important;
	appearance: none !important;
	outline: none !important;
	border: none !important;
	background-color: none !important;
	-moz-context-properties: fill !important;
	position: absolute !important;
	top: 3px !important;
	right: -4px !important;
	z-index: 10 !important;

	label {
		display: none !important;
	}

	&:hover {
		background: none !important;
		border: none !important;
	}

	&:active {
		scale: 0.9 !important;
	}
}

.findbar-container {
	position: relative !important;
	width: 100% !important;
	height: 100% !important;

	& > :first-child {
		position: absolute !important;
		top: 8px !important;
		left: 8px !important;
		width: 100% !important;
		height: 40px !important;
		display: block !important;

		/* &::before {
			content: '';
			position: absolute !important;
			left: 12px !important;
			top: 5px !important;
			width: 18px !important;
			height: 18px !important;
			background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="%23fff" d="M10.5 2c.58 0 1.15.058 1.699.17a1 1 0 1 1-.398 1.96a6.5 6.5 0 1 0 5.069 7.671a1 1 0 1 1 1.96.398a8.5 8.5 0 0 1-1.457 3.303l-.197.26l3.652 3.652a1 1 0 0 1-1.32 1.498l-.094-.084l-3.652-3.652A8.5 8.5 0 1 1 10.5 2M19 1a1 1 0 0 1 .898.56l.048.117l.13.378a3 3 0 0 0 1.684 1.8l.185.07l.378.129a1 1 0 0 1 .118 1.844l-.118.048l-.378.13a3 3 0 0 0-1.8 1.684l-.07.185l-.129.378a1 1 0 0 1-1.844.117l-.048-.117l-.13-.378a3 3 0 0 0-1.684-1.8l-.185-.07l-.378-.129a1 1 0 0 1-.118-1.844l.118-.048l.378-.13a3 3 0 0 0 1.8-1.684l.07-.185l.129-.378A1 1 0 0 1 19 1m0 3.196a5 5 0 0 1-.804.804q.448.355.804.804q.355-.448.804-.804A5 5 0 0 1 19 4.196" /></svg>') !important;
			background-repeat: no-repeat;
		} */

		.findbar-textbox {
			position: absolute !important;
			left: 6px !important;
			top: 4px !important;
			font-family: monospace !important;
			color: var(--text) !important;
			background: none !important;
			padding: 0 !important;
			font-size: 18px !important;
			font-weight: 500 !important;
			width: 204px !important;
			/* 			height: 28px !important; */
			border: none !important;

			&:focus {
				outline: none !important;
			}
		}

		toolbarbutton {
			&:nth-of-type(1) {
				position: absolute !important;
				top: 30px !important;
				left: -4px !important;
				margin: 2px !important;
				padding: 0px !important;
			}

			&:nth-of-type(2) {
				top: 30px !important;
				left: 24px !important;
				margin: 2px !important;
				padding: 0px !important;
			}

			/* 			&[disabled='true'] {
				opacity: 0 !important;
			} */

			label {
				display: none !important;
			}

			&:hover {
				background: var(--tab-hover-background-color) !important;
			}

			&:active {
				scale: 0.9 !important;
			}
		}
	}

	/* Hide navigation arrows when no matches found */
	/* findbar:has(.findbar-textbox[status='notfound']) [anonid='findbar-textbox-wrapper'] toolbarbutton {
	opacity: 0 !important;
	pointer-events: none !important;
} */

	checkbox,
	label,
	description {
		position: absolute !important;
		top: 10px !important;
	}

	checkbox:nth-of-type(1) {
		right: 60px !important;
	}

	checkbox:nth-of-type(2) {
		right: 30px !important;
	}

	checkbox:nth-of-type(4) {
		right: 0px !important;
	}

	checkbox:nth-of-type(3) {
		display: none !important;
	}

	.findbar-label {
		display: none !important;
		flex-basis: 100% !important;

		&[status='notfound'] {
			display: none !important;
		}
	}

	.found-matches {
		position: absolute !important;
		bottom: 10px !important;
		right: 0px !important;
		display: block !important;
		font-size: 14px !important;
		font-weight: 500 !important;
		white-space: nowrap !important;

		&[hidden='true'] {
			display: none !important;
		}
	}

	/* Compact match indicator */
	.matches-indicator {
		font-family: monospace !important;
		font-style: italic !important;
		position: absolute !important;
		top: 47px !important;
		bottom: 10px !important;
		right: 6px !important;
		font-size: 16px !important;
		font-weight: 420 !important;
		white-space: nowrap !important;
		color: var(--text) !important;
		/* 		display: block !important; */

		&[empty='true'] {
			display: none !important;
		}
	}
}

/* When compact indicator is enabled, hide the verbose label */
findbar[compact-indicator='true'] {
	.found-matches {
		display: none !important;
	}
}

.findbar-find-status:is([data-l10n-id]) {
	display: flex;
}

.checkbox-label {
	font-size: 12px !important;
	font-weight: 500 !important;
}

/* change text to icons for smaller findbar */
.findbar-container checkbox {
	flex-shrink: 0 !important;
	flex-grow: 0 !important;
}

.findbar-container checkbox::after {
	height: 23px;
	font-family: monospace;
	font-size: 18px;
	background-size: cover;
	display: flex;
	align-items: center;
	-moz-context-properties: fill;
	fill: currentColor;
	color: inherit;
}

.findbar-highlight::after {
	content: '';
	background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjBweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyMHB4IiBmaWxsPSJjb250ZXh0LWZpbGwiPjxwYXRoIGQ9Im01NDgtNDEwLTkwLTkxLTE5MyAxOTMgOTEgOTEgMTkyLTE5M1ptLTM4LTE0MyA5MCA5MSAxOTItMTkyLTkwLTkxLTE5MiAxOTJabS03Ny0yNCAxOTIgMTkyLTIxOCAyMThxLTIyIDIwLTUwLjUgMjEuNVQzMDgtMTY0bC0yMCAyMEg5NmwxMTYtMTE2cS0yMS0yMC0yMC00OS41dDIzLTQ5LjVsMjE4LTIxOFptMCAwIDIxOC0yMThxMjEtMjEgNTEtMjF0NTEgMjFsOTAgOTBxMjAgMjIgMjAgNTF0LTIwIDUxTDYyNS0zODUgNDMzLTU3N1oiLz48L3N2Zz4K')
		no-repeat;
	background-position-x: 1px;
	background-position-y: -2px;
	width: 24px;
}

.findbar-case-sensitive::after {
	content: 'Aa';
	justify-content: center;
	width: 24px;
	font-weight: 600;
}

.findbar-match-diacritics::after {
	content: 'ąâ';
	justify-content: center;
	width: 24px;
	font-weight: 600;
}

.findbar-entire-word::after {
	content: '';
	background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyNHB4IiBmaWxsPSJjb250ZXh0LWZpbGwiPjxwYXRoIGQ9Ik00MC0xOTl2LTIwMGg4MHYxMjBoNzIwdi0xMjBoODB2MjAwSDQwWm0zNDItMTYxdi0zNGgtM3EtMTMgMjAtMzUgMzEuNVQyOTQtMzUxcS00OSAwLTc3LTI1LjVUMTg5LTQ0NnEwLTQyIDMyLjUtNjguNVQzMDUtNTQxcTIzIDAgNDIuNSAzLjVUMzgxLTUyNnYtMTRxMC0yNy0xOC41LTQzVDMxMi01OTlxLTIxIDAtMzkuNSA5VDI0MS01NjRsLTQzLTMycTE5LTI3IDQ4LTQxdDY3LTE0cTYyIDAgOTUgMjkuNXQzMyA4NS41djE3NmgtNTlabS02Ni0xMzRxLTMyIDAtNDkgMTIuNVQyNTAtNDQ2cTAgMjAgMTUgMzIuNXQzOSAxMi41cTMyIDAgNTQuNS0yMi41VDM4MS00NzhxLTE0LTgtMzItMTJ0LTMzLTRabTE4NSAxMzR2LTQwMWg2MnYxMTNsLTMgNDBoM3EzLTUgMjQtMjUuNXQ2Ni0yMC41cTY0IDAgMTAxIDQ2dDM3IDEwNnEwIDYwLTM2LjUgMTA1LjVUNjUzLTM1MXEtNDEgMC02Mi41LTE4VDU2My0zOTdoLTN2MzdoLTU5Wm0xNDMtMjM4cS00MCAwLTYyIDI5LjVUNTYwLTUwM3EwIDM3IDIyIDY2dDYyIDI5cTQwIDAgNjIuNS0yOXQyMi41LTY2cTAtMzctMjIuNS02NlQ2NDQtNTk4WiIvPjwvc3ZnPgo=')
		no-repeat;
	background-position-y: -2px;
	width: 24px;
}

/* hide all text for findbar checkboxes */
.findbar-container checkbox > .checkbox-label-box {
	display: none !important;
}

findbar [anonid='findbar-textbox-wrapper'] htmlNs|input:not(.minimal) {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

findbar [anonid='findbar-textbox-wrapper'] toolbarbutton {
	position: absolute !important;
	width: 28px !important;
	height: 28px !important;
	display: inline-flex !important;
	justify-content: center !important;
	align-items: center !important;
	border-width: 0px !important;
	margin-inline: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	border-radius: 5px !important;
	line-height: 28px !important;
}

findbar checkbox:hover {
	background-color: var(--zen-colors-primary);
}

findbar checkbox[checked='true'] {
	color: var(--zen-colors-tertiary);
	background-color: var(--green);
}

findbar checkbox .checkbox-check {
	display: none;
}

findbar checkbox {
	border-radius: 5px !important;
}
