@media (-moz-pref('nug-font', 'SF-Pro')) {
	:root {
		--nug-font: 'SF-Pro';
	}
}

@media (-moz-pref('nug-font', 'SF-Symbols')) {
	:root {
		--nug-font: 'SF-Symbols';
	}
}

@media (-moz-pref('nug-font', 'Nunito')) {
	:root {
		--nug-font: 'Nunito';
	}
}

@media (-moz-pref('nug-font', 'Suse')) {
	:root {
		--nug-font: 'Suse';
	}
}

@media (-moz-pref('nug-font', 'Roboto')) {
	:root {
		--nug-font: 'Roboto';
	}
}

@media (-moz-pref('nug-font', 'Bricolage')) {
	:root {
		--nug-font: 'Bricolage';
	}
}

.urlbar-input {
	font-family: monospace !important;
}

@font-face {
	font-family: 'SF-Pro';
	src: url('https://github.com/cwelsys/nug-zen/raw/refs/heads/main/Fonts/SF-Pro.ttf');
	font-weight: var(--nug-font_weight) !important;
}

@font-face {
	font-family: 'SF-Symbols';
	src: url('https://github.com/cwelsys/nug-zen/raw/refs/heads/main/Fonts/SF-Symbols.ttf');
	font-weight: var(--nug-font_weight) !important;
}

@font-face {
	font-family: 'Nunito';
	src: url('https://github.com/cwelsys/nug-zen/raw/refs/heads/main/Fonts/Nunito-VariableFont_wght.ttf');
	font-weight: var(--nug-font_weight) !important;
	font-style: normal;
}

@font-face {
	font-family: 'Suse';
	src: url('https://github.com/cwelsys/nug-zen/raw/refs/heads/main/Fonts/SUSE-VariableFont_wght.ttf');
	font-weight: var(--nug-font_weight) !important;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('https://github.com/cwelsys/nug-zen/raw/refs/heads/main/Fonts/Roboto-VariableFont_wdth,wght.ttf');
	font-weight: var(--nug-font_weight) !important;
	font-style: normal;
}

@font-face {
	font-family: 'Bricolage';
	src: url('https://github.com/cwelsys/nug-zen/raw/refs/heads/main/Fonts/BricolageGrotesque-Regular.ttf');
	font-weight: var(--nug-font_weight) !important;
	font-style: normal;
}

* {
	font-weight: var(--nug-font_weight) !important;
	font-family: var(--nug-font), sans-serif;
}
